.navbar-brand {
  position: relative;
  right: 55vh;
}

.navbar-nav.me-auto {
  margin-left: 50px;
}

.navbar-nav.me-auto .nav-item {
  margin: 0 10px;
}


.navbar-nav.me-auto .nav-link {
  color: var(--putih); 
}

/* Gaya untuk input pencarian */  
.form-control[type="text"] {
  background-color: rgba(255, 255, 255, 0.2); /* Warna latar belakang transparan */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Border transparan */
  color: #fff; /* Warna teks */
  padding: 0.375rem 0.75rem; /* Padding */
  transition: all 0.3s ease; /* Transisi halus untuk efek hover */
}

/* Gaya untuk placeholder */
.form-control[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Warna teks placeholder */
}

/* Gaya saat input difokuskan */
.form-control[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.3); /* Sedikit lebih gelap saat difokuskan */
  border-color: rgba(255, 255, 255, 0.5); /* Border lebih terlihat saat difokuskan */
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25); /* Efek glow saat difokuskan */
  color: #fff; /* Warna teks tetap putih */
}
