:root {
    --abu: rgba(222, 222, 226, 1);
    --hitam: rgba(22, 22, 22, 1);
    --oranye: rgba(221, 103, 55, 1);
    --putih: rgba(242, 242, 243, 1);
    --system-colors-labels-secondary: rgba(60, 60, 67, 0.6);
    --title1-emphasized-font-family: "SF Pro", Helvetica;
    --title1-emphasized-font-size: 28px;
    --title1-emphasized-font-style: normal;
    --title1-emphasized-font-weight: 700;
    --title1-emphasized-letter-spacing: 0.3799999952316284px;
    --title1-emphasized-line-height: 34px;
    --title1-regular-font-family: "SF Pro", Helvetica;
    --title1-regular-font-size: 28px;
    --title1-regular-font-style: normal;
    --title1-regular-font-weight: 400;
    --title1-regular-letter-spacing: 0.3799999952316284px;
    --title1-regular-line-height: 34px;
    --title2-emphasized-font-family: "SF Pro", Helvetica;
    --title2-emphasized-font-size: 22px;
    --title2-emphasized-font-style: normal;
    --title2-emphasized-font-weight: 700;
    --title2-emphasized-letter-spacing: -0.25999999046325684px;
    --title2-emphasized-line-height: 28px;
    --title2-regular-font-family: "SF Pro", Helvetica;
    --title2-regular-font-size: 22px;
    --title2-regular-font-style: normal;
    --title2-regular-font-weight: 400;
    --title2-regular-letter-spacing: -0.25999999046325684px;
    --title2-regular-line-height: 28px;
    --title3-regular-font-family: "SF Pro", Helvetica;
    --title3-regular-font-size: 20px;
    --title3-regular-font-style: normal;
    --title3-regular-font-weight: 400;
    --title3-regular-letter-spacing: -0.44999998807907104px;
    --title3-regular-line-height: 25px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-system-colors-mode="light">
        <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-system-colors-mode="light"] {
    --system-colors-labels-secondary: rgba(60, 60, 67, 0.6);
}

[data-system-colors-mode="dark"] {
    --system-colors-labels-secondary: rgba(235, 235, 245, 0.6);
}

[data-system-colors-mode="dark-elevated"] {
    --system-colors-labels-secondary: rgba(235, 235, 245, 0.6);
}
