.home {
    background-color: #f2f2f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home .div {
    background-color: var(--putih);
    height: 3695px;
    position: relative;
    width: 1440px;
}

.home .frame {
    height: 921px;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    top: 104px;
    width: 1440px;
}

.home .footer {
    background-color: var(--hitam);
    height: 416px;
    left: 0;
    position: absolute;
    top: 3175px;
    width: 1440px;
}

.home .group {
    height: 116px;
    left: 32px;
    position: absolute;
    top: 32px;
    width: 246px;
}

.home .overlap-group {
    height: 116px;
    position: relative;
}

.home .BENTALA {
    height: 55px;
    left: 26px;
    position: absolute;
    top: 31px;
    width: 200px;
}

.home .ellipse {
    border: 1.39px solid;
    border-color: var(--putih);
    border-radius: 119.68px/49.4px;
    height: 99px;
    left: 3px;
    position: absolute;
    top: 9px;
    transform: rotate(-4.24deg);
    width: 239px;
}

.home .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    gap: 64px;
    left: 368px;
    position: absolute;
    top: 30px;
}

.home .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    padding: 16px 16px 0px 0px;
    position: relative;
}

.home .text-wrapper {
    color: #ffffff;
    font-family: var(--title1-emphasized-font-family);
    font-size: var(--title1-emphasized-font-size);
    font-style: var(--title1-emphasized-font-style);
    font-weight: var(--title1-emphasized-font-weight);
    letter-spacing: var(--title1-emphasized-letter-spacing);
    line-height: var(--title1-emphasized-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.home .text-wrapper-2 {
    color: #ffffff;
    font-family: var(--title2-regular-font-family);
    font-size: var(--title2-regular-font-size);
    font-style: var(--title2-regular-font-style);
    font-weight: var(--title2-regular-font-weight);
    letter-spacing: var(--title2-regular-letter-spacing);
    line-height: var(--title2-regular-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home .text-wrapper-3 {
    color: #ffffff;
    font-family: var(--title2-regular-font-family);
    font-size: var(--title2-regular-font-size);
    font-style: var(--title2-regular-font-style);
    font-weight: var(--title2-regular-font-weight);
    letter-spacing: var(--title2-regular-letter-spacing);
    line-height: var(--title2-regular-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home .frame-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    left: 1000px;
    padding: 16px 8px 0px;
    position: absolute;
    top: 31px;
    width: 408px;
}

.home .overlap-group-wrapper {
    height: 48px;
    margin-right: -10px;
    position: relative;
    width: 402px;
}

.home .overlap-group-2 {
    border: 1px solid;
    border-color: var(--putih);
    border-radius: 24px;
    height: 48px;
    position: relative;
    width: 400px;
}

.home .text-wrapper-4 {
    color: #3c3c4399;
    font-family: var(--title2-regular-font-family);
    font-size: var(--title2-regular-font-size);
    font-style: var(--title2-regular-font-style);
    font-weight: var(--title2-regular-font-weight);
    height: 28px;
    left: 15px;
    letter-spacing: var(--title2-regular-letter-spacing);
    line-height: var(--title2-regular-line-height);
    position: absolute;
    top: 9px;
    white-space: nowrap;
}

.home .overlap {
    background-color: var(--oranye);
    border-radius: 20px;
    height: 40px;
    left: 355px;
    position: absolute;
    top: 4px;
    width: 40px;
}

.home .send {
    height: 24px !important;
    left: 9px !important;
    position: absolute !important;
    top: 8px !important;
    width: 24px !important;
}

.home .frame-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 104px;
    left: 32px;
    position: absolute;
    top: 32px;
    width: 1376px;
}

.home .group-2 {
    height: 866.78px;
    position: relative;
    width: 1376px;
}

.home .hero {
    height: 624px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1376px;
}

.home .overlap-2 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 624px;
    left: 0;
    position: absolute;
    top: 0;
    width: 680px;
}

.home .overlap-wrapper {
    height: 48px;
    left: 24px;
    position: absolute;
    top: 552px;
    width: 306px;
}

.home .overlap-3 {
    background-color: var(--putih);
    border-radius: 24px;
    height: 48px;
    position: relative;
    width: 304px;
}

.home .text-wrapper-5 {
    color: var(--hitam);
    font-family: var(--title2-regular-font-family);
    font-size: var(--title2-regular-font-size);
    font-style: var(--title2-regular-font-style);
    font-weight: var(--title2-regular-font-weight);
    height: 28px;
    left: 16px;
    letter-spacing: var(--title2-regular-letter-spacing);
    line-height: var(--title2-regular-line-height);
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    width: 108px;
}

.home .arrow-downward-wrapper {
    background-color: var(--hitam);
    border-radius: 20px/20.07px;
    height: 40px;
    left: 260px;
    position: absolute;
    top: 4px;
    width: 40px;
}

.home .style-outlined {
    height: 24px !important;
    left: 8px !important;
    position: absolute !important;
    top: 8px !important;
    width: 24px !important;
}

.home .div-wrapper {
    height: 48px;
    left: 352px;
    position: absolute;
    top: 552px;
    width: 306px;
}

.home .overlap-4 {
    border: 1px solid;
    border-color: var(--putih);
    border-radius: 24px;
    height: 48px;
    position: relative;
    width: 304px;
}

.home .text-wrapper-6 {
    color: var(--putih);
    font-family: var(--title2-regular-font-family);
    font-size: var(--title2-regular-font-size);
    font-style: var(--title2-regular-font-style);
    font-weight: var(--title2-regular-font-weight);
    height: 28px;
    left: 15px;
    letter-spacing: var(--title2-regular-letter-spacing);
    line-height: var(--title2-regular-line-height);
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 108px;
}

.home .mail-wrapper {
    background-color: var(--putih);
    border-radius: 20px/20.07px;
    height: 40px;
    left: 260px;
    position: absolute;
    top: 4px;
    width: 40px;
}

.home .group-3 {
    height: 368px;
    left: 696px;
    position: absolute;
    top: 0;
    width: 682px;
}

.home .overlap-group-3 {
    background-color: var(--abu);
    border-radius: 48px;
    height: 368px;
    position: relative;
    width: 680px;
}

.home .p {
    -webkit-text-stroke: 1px #161616;
    border-color: var(--hitam);
    color: var(--hitam);
    font-family: "Bebas Neue-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    height: 321px;
    left: 23px;
    letter-spacing: 0;
    line-height: 80px;
    position: absolute;
    text-align: justify;
    top: 23px;
    width: 632px;
}

.home .image {
    height: 240px;
    left: 696px;
    object-fit: cover;
    position: absolute;
    top: 384px;
    width: 332px;
}

.home .img {
    height: 240px;
    left: 1044px;
    object-fit: cover;
    position: absolute;
    top: 384px;
    width: 332px;
}

.home .bio {
    height: 228px;
    left: 0;
    position: absolute;
    top: 639px;
    width: 1376px;
}

.home .group-4 {
    height: 228px;
    width: 1378px;
}

.home .overlap-group-4 {
    border: 1px solid;
    border-color: #000000;
    border-radius: 48px;
    height: 228px;
    position: relative;
    width: 1376px;
}

.home .rectangle {
    background-color: var(--oranye);
    border-radius: 8px;
    height: 43px;
    left: 272px;
    position: absolute;
    top: 32px;
    width: 447px;
}

.home .we-creates-eco {
    color: transparent;
    font-family: "SF Pro-Medium", Helvetica;
    font-size: 40px;
    font-weight: 400;
    height: 142px;
    left: 47px;
    letter-spacing: 0.4px;
    line-height: 41px;
    position: absolute;
    text-align: justify;
    top: 42px;
    width: 1272px;
}

.home .span {
    color: #161616;
    font-weight: 500;
    letter-spacing: 0.16px;
}

.home .text-wrapper-7 {
    color: #f2f2f3;
    font-family: "SF Pro-Regular", Helvetica;
    letter-spacing: 0.16px;
}

.home .shop {
    height: 1462px;
    position: relative;
    width: 1376px;
}

.home .title {
    height: 122px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1376px;
}

.home .frame-wrapper {
    height: 68px;
    left: 0;
    position: absolute;
    top: 54px;
    width: 1376px;
}

.home .frame-7 {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
    width: 1376px;
}

.home .frame-8 {
    align-items: flex-end;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    height: 48px;
    padding: 8px 10px;
    position: relative;
}

.home .text-wrapper-8 {
    color: var(--hitam);
    font-family: "SF Pro-Regular", Helvetica;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 41px;
    position: relative;
    text-align: justify;
    white-space: nowrap;
    width: fit-content;
    z-index: 1;
}

.home .text-wrapper-9 {
    color: var(--hitam);
    font-family: "SF Pro-RegularItalic", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.31px;
    line-height: 21px;
    position: relative;
    text-align: justify;
    white-space: nowrap;
    width: fit-content;
    z-index: 0;
}

.home .frame-9 {
    align-items: flex-end;
    background-color: var(--oranye);
    border: 1px solid;
    border-color: var(--oranye);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    height: 48px;
    padding: 8px 10px;
    position: relative;
}

.home .text-wrapper-10 {
    color: var(--putih);
    font-family: "SF Pro-Bold", Helvetica;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 41px;
    position: relative;
    text-align: justify;
    white-space: nowrap;
    width: fit-content;
    z-index: 1;
}

.home .text-wrapper-11 {
    color: var(--putih);
    font-family: "SF Pro-BoldItalic", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -0.31px;
    line-height: 21px;
    position: relative;
    text-align: justify;
    white-space: nowrap;
    width: fit-content;
    z-index: 0;
}

.home .group-5 {
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 331px;
}

.home .text-wrapper-12 {
    color: var(--hitam);
    font-family: "Bebas Neue-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    height: 41px;
    left: 0;
    letter-spacing: 0.4px;
    line-height: 41px;
    position: absolute;
    text-align: justify;
    top: 0;
    white-space: nowrap;
}

.home .card {
    align-items: center;
    display: inline-flex;
    gap: 16px;
    left: 0;
    position: absolute;
    top: 146px;
}

.home .group-6 {
    height: 618px;
    position: relative;
    width: 452px;
}

.home .ellipse-2 {
    background-color: #7db38e;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 424px;
    position: absolute;
    top: 560px;
    width: 24px;
}

.home .ellipse-3 {
    background-color: #5d83b4;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 392px;
    position: absolute;
    top: 560px;
    width: 24px;
}

.home .overlap-group-5 {
    background-color: #b7a78d;
    border: 2px solid;
    border-color: var(--hitam);
    border-radius: 14px;
    height: 28px;
    left: 358px;
    position: absolute;
    top: 558px;
    width: 28px;
}

.home .ellipse-4 {
    background-color: #b7a78d;
    border: 1px solid;
    border-color: var(--putih);
    border-radius: 13px;
    height: 26px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 26px;
}

.home .ellipse-5 {
    background-color: #b7a78d;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.home .text-wrapper-13 {
    color: var(--hitam);
    font-family: var(--title1-regular-font-family);
    font-size: var(--title1-regular-font-size);
    font-style: var(--title1-regular-font-style);
    font-weight: var(--title1-regular-font-weight);
    height: 24px;
    left: 0;
    letter-spacing: var(--title1-regular-letter-spacing);
    line-height: var(--title1-regular-line-height);
    position: absolute;
    text-align: justify;
    top: 560px;
    white-space: nowrap;
    width: 184px;
}

.home .text-wrapper-14 {
    color: var(--oranye);
    font-family: var(--title1-emphasized-font-family);
    font-size: var(--title1-emphasized-font-size);
    font-style: var(--title1-emphasized-font-style);
    font-weight: var(--title1-emphasized-font-weight);
    height: 24px;
    left: 0;
    letter-spacing: var(--title1-emphasized-letter-spacing);
    line-height: var(--title1-emphasized-line-height);
    position: absolute;
    text-align: justify;
    top: 594px;
    white-space: nowrap;
    width: 184px;
}

.home .image-2 {
    height: 550px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 448px;
}

.home .ellipse-6 {
    background-color: #f1edec;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.home .ellipse-7 {
    background-color: #212121;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 392px;
    position: absolute;
    top: 560px;
    width: 24px;
}

.home .group-7 {
    height: 621.96px;
    margin-right: -6px;
    position: relative;
    width: 454px;
}

.home .ellipse-8 {
    background-color: #dcdde3;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.home .ellipse-9 {
    background-color: #f9b54e;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 424px;
    position: absolute;
    top: 560px;
    width: 24px;
}

.home .ellipse-10 {
    background-color: #1c9166;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 392px;
    position: absolute;
    top: 560px;
    width: 24px;
}

.home .overlap-5 {
    height: 31px;
    left: 0;
    position: absolute;
    top: 591px;
    width: 152px;
}

.home .text-wrapper-15 {
    color: var(--abu);
    font-family: var(--title1-emphasized-font-family);
    font-size: var(--title1-emphasized-font-size);
    font-style: var(--title1-emphasized-font-style);
    font-weight: var(--title1-emphasized-font-weight);
    height: 24px;
    left: 0;
    letter-spacing: var(--title1-emphasized-letter-spacing);
    line-height: var(--title1-emphasized-line-height);
    position: absolute;
    text-align: justify;
    top: 3px;
    white-space: nowrap;
    width: 152px;
}

.home .line {
    height: 31px;
    left: 0;
    position: absolute;
    top: 0;
    width: 152px;
}

.home .text-wrapper-16 {
    color: var(--oranye);
    font-family: var(--title1-emphasized-font-family);
    font-size: var(--title1-emphasized-font-size);
    font-style: var(--title1-emphasized-font-style);
    font-weight: var(--title1-emphasized-font-weight);
    height: 24px;
    left: 160px;
    letter-spacing: var(--title1-emphasized-letter-spacing);
    line-height: var(--title1-emphasized-line-height);
    position: absolute;
    text-align: justify;
    top: 594px;
    white-space: nowrap;
    width: 184px;
}

.home .card-2 {
    align-items: center;
    display: inline-flex;
    gap: 16px;
    left: 0;
    position: absolute;
    top: 788px;
}

.home .ellipse-11 {
    background-color: #9eaebd;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.home .ellipse-12 {
    background-color: #1f1f1f;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 424px;
    position: absolute;
    top: 560px;
    width: 24px;
}

.home .ellipse-13 {
    background-color: #f1eded;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 392px;
    position: absolute;
    top: 560px;
    width: 24px;
}

.home .text-wrapper-17 {
    color: var(--hitam);
    font-family: var(--title1-regular-font-family);
    font-size: var(--title1-regular-font-size);
    font-style: var(--title1-regular-font-style);
    font-weight: var(--title1-regular-font-weight);
    height: 24px;
    left: 0;
    letter-spacing: var(--title1-regular-letter-spacing);
    line-height: var(--title1-regular-line-height);
    position: absolute;
    text-align: justify;
    top: 560px;
    white-space: nowrap;
    width: 328px;
}

.home .ellipse-14 {
    background-color: #4173a8;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.home .ellipse-15 {
    background-color: #212121;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 424px;
    position: absolute;
    top: 560px;
    width: 24px;
}

.home .ellipse-16 {
    background-color: #f9b54e;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 392px;
    position: absolute;
    top: 560px;
    width: 24px;
}

.home .text-wrapper-18 {
    color: var(--hitam);
    font-family: var(--title1-regular-font-family);
    font-size: var(--title1-regular-font-size);
    font-style: var(--title1-regular-font-style);
    font-weight: var(--title1-regular-font-weight);
    height: 24px;
    left: 0;
    letter-spacing: var(--title1-regular-letter-spacing);
    line-height: var(--title1-regular-line-height);
    position: absolute;
    text-align: justify;
    top: 560px;
    white-space: nowrap;
    width: 306px;
}

.home .group-8 {
    height: 618px;
    margin-right: -4px;
    position: relative;
    width: 452px;
}

.home .ellipse-17 {
    background-color: #7faede;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.home .ellipse-18 {
    background-color: #d5bfa3;
    border: 1px solid;
    border-color: var(--hitam);
    border-radius: 12px;
    height: 24px;
    left: 392px;
    position: absolute;
    top: 560px;
    width: 24px;
}

.home .text-wrapper-19 {
    color: var(--hitam);
    font-family: var(--title1-regular-font-family);
    font-size: var(--title1-regular-font-size);
    font-style: var(--title1-regular-font-style);
    font-weight: var(--title1-regular-font-weight);
    height: 24px;
    left: 0;
    letter-spacing: var(--title1-regular-letter-spacing);
    line-height: var(--title1-regular-line-height);
    position: absolute;
    text-align: justify;
    top: 560px;
    white-space: nowrap;
    width: 334px;
}

.home .page {
    align-items: center;
    display: inline-flex;
    gap: 13.33px;
    left: 641px;
    position: absolute;
    top: 1422px;
}

.home .ellipse-19 {
    background-color: var(--hitam);
    border-radius: 20px;
    height: 40px;
    position: relative;
    width: 40px;
}

.home .ellipse-20 {
    background-color: var(--abu);
    border-radius: 20px;
    height: 40px;
    position: relative;
    width: 40px;
}

.home .description {
    height: 498px;
    margin-right: -10px;
    position: relative;
    width: 1386px;
}

.home .overlap-6 {
    background-color: var(--oranye);
    border-radius: 40px;
    height: 498px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1029px;
}

.home .line-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 343px;
    width: 1029px;
}

.home .we-re-here-to-make {
    -webkit-text-stroke: 1px #161616;
    border-color: var(--hitam);
    color: var(--hitam);
    font-family: "Bebas Neue-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    left: 47px;
    letter-spacing: 0;
    line-height: 80px;
    position: absolute;
    text-align: justify;
    top: 47px;
    width: 976px;
}

.home .recycling-wrapper {
    background-color: var(--hitam);
    border-radius: 16px;
    height: 32px;
    left: 49px;
    position: absolute;
    top: 367px;
    width: 32px;
}

.home .recycling-instance {
    height: 23px !important;
    left: 4px !important;
    position: absolute !important;
    top: 4px !important;
    width: 23px !important;
}

.home .language-wrapper {
    background-color: var(--hitam);
    border-radius: 16px;
    height: 32px;
    left: 537px;
    position: absolute;
    top: 367px;
    width: 32px;
}

.home .style-outlined-instance {
    height: 24px !important;
    left: 4px !important;
    position: absolute !important;
    top: 4px !important;
    width: 24px !important;
}

.home .text-wrapper-20 {
    color: var(--hitam);
    font-family: var(--title2-emphasized-font-family);
    font-size: var(--title2-emphasized-font-size);
    font-style: var(--title2-emphasized-font-style);
    font-weight: var(--title2-emphasized-font-weight);
    left: 97px;
    letter-spacing: var(--title2-emphasized-letter-spacing);
    line-height: var(--title2-emphasized-line-height);
    position: absolute;
    text-align: justify;
    top: 369px;
    white-space: nowrap;
}

.home .text-wrapper-21 {
    color: var(--hitam);
    font-family: var(--title2-emphasized-font-family);
    font-size: var(--title2-emphasized-font-size);
    font-style: var(--title2-emphasized-font-style);
    font-weight: var(--title2-emphasized-font-weight);
    left: 585px;
    letter-spacing: var(--title2-emphasized-letter-spacing);
    line-height: var(--title2-emphasized-line-height);
    position: absolute;
    text-align: justify;
    top: 369px;
    white-space: nowrap;
}

.home .text-wrapper-22 {
    color: var(--hitam);
    font-family: var(--title3-regular-font-family);
    font-size: var(--title3-regular-font-size);
    font-style: var(--title3-regular-font-style);
    font-weight: var(--title3-regular-font-weight);
    left: 49px;
    letter-spacing: var(--title3-regular-letter-spacing);
    line-height: var(--title3-regular-line-height);
    position: absolute;
    text-align: justify;
    top: 407px;
    width: 439px;
}

.home .text-wrapper-23 {
    color: var(--hitam);
    font-family: var(--title3-regular-font-family);
    font-size: var(--title3-regular-font-size);
    font-style: var(--title3-regular-font-style);
    font-weight: var(--title3-regular-font-weight);
    left: 537px;
    letter-spacing: var(--title3-regular-letter-spacing);
    line-height: var(--title3-regular-line-height);
    position: absolute;
    text-align: justify;
    top: 407px;
    width: 439px;
}

.home .image-3 {
    height: 240px;
    left: 1044px;
    object-fit: cover;
    position: absolute;
    top: 256px;
    width: 332px;
}

.home .image-4 {
    height: 240px;
    left: 1044px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 332px;
}

.home .header {
    height: 104px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1440px;
}
