* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.imgatas {
  overflow-x: hidden;
  margin-bottom: -50px;
}

.img-fluid {
  width: 100%;
}

.text-title {
  font-size: 50px; /* Ukuran font untuk judul */
  font-weight: bold; /* Membuat teks menjadi tebal */
  margin: 0; /* Menghapus margin default */
  color: var(--putih);
  position: relative; /* Mengatur posisi elemen secara absolut */
  bottom: 190px;
  left: 50px;
}

.btn-discover {
  display: inline-block; /* Menjadikan tombol sebagai inline-block */
  padding: 10px 20px; /* Padding untuk tombol */
  margin-top: 10px; /* Jarak antara judul dan tombol */
  background-color: transparent; /* Latar belakang transparan */
  border: 2px solid var(--putih); /* Border putih */
  color: var(--putih); /* Warna teks tombol */
  text-decoration: none; /* Menghapus garis bawah pada teks */
  border-radius: 16px; /* Membuat sudut tombol melengkung */
  transition: background-color 0.3s, color 0.3s; /* Efek transisi */
  position: relative;
  bottom: 300px;
  right: 50px;
}

.btn-discover:hover {
  background-color: var(--putih); /* Warna latar belakang saat hover */
  color: var(--hitam); /* Warna teks saat hover */
}

.content2 {
  margin: 20px auto 20px auto;
  position: relative;
  width: 80%; 
  max-width: 1200px;
}

.eco-friendly-products {
  	color: var(--ijo);
}
.medium-length-hero-container {
  	height: 100%;
  	flex: 1;
  	width: 100%;
  	position: relative;
  	font-size: 40px;
  	line-height: 150%;
  	font-family: 'Bebas Neue';
  	text-align: center;
  	display: inline-block;
  	color: var(--hitam);
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 600px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 20px 0;
}


.hover-trigger {
  cursor: pointer;
}

.card {
  width: 200px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: center;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px var(--hitam);
}


.card > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
  position: relative;
  left: 420px;
  visibility: visible;
}

.description {
  position: absolute;
  top: 0px;
  right: 10px;
  text-align: center;
  opacity: 0; 
  visibility: visible; 
}

.description h4 {
  text-transform: uppercase;
  color: var(--hitam);
  position: absolute;
  font-size: 24px;
  font-weight: 600;
}

input:checked + label .description {
  top: 20px;     
  opacity: 1; 
  visibility: visible; 
  transition: opacity 0.3s ease, visibility 0.3s ease; 
}

input:checked + label .description h4 {
  color: var(--hitam);
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* Menambahkan shadow pada gambar background */
.card[for="c1"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/IMGSepatu.png');
  background-size: cover;
  transition: all 0.6s ease;
}

.card[for="c2"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/IMGJaket.png');
  background-size: cover;
  transition: all 0.6s ease;
}

.card[for="c3"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/IMGkemeja.png');
  background-size: cover;
  transition: all 0.6s ease;
}

.card[for="c4"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/IMGCelana.png');
  background-size: cover;
  transition: all 0.6s ease;
}

/* Menghilangkan shadow saat card dibuka */
input:checked + label.card[for="c1"] {
  background-image: url('/img/IMGSepatu.png');
}

input:checked + label.card[for="c2"] {
  background-image: url('/img/IMGJaket.png');
}

input:checked + label.card[for="c3"] {
  background-image: url('/img/IMGkemeja.png');
}

input:checked + label.card[for="c4"] {
  background-image: url('/img/IMGCelana.png');
}

/* Menambahkan hover effect untuk shadow yang lebih gelap */
.card[for="c1"]:hover,
.card[for="c2"]:hover,
.card[for="c3"]:hover,
.card[for="c4"]:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    var(--bg-image);
}

/* Menambahkan variabel CSS untuk background image */
.card[for="c1"] { --bg-image: url('/img/IMGSepatu.png'); }
.card[for="c2"] { --bg-image: url('/img/IMGJaket.png'); }
.card[for="c3"] { --bg-image: url('/img/IMGkemeja.png'); }
.card[for="c4"] { --bg-image: url('/img/IMGCelana.png'); }

.JudulKoleksi {
  display: flex; /* Menggunakan Flexbox */
  justify-content: center; /* Mengatur konten secara horizontal di tengah */
  align-items: center; /* Mengatur konten secara vertikal di tengah */
  height: 100%; /* Mengisi seluruh tinggi */
  text-align: center; /* Memastikan teks berada di tengah */
}

/* Tambahan untuk responsif */
h1 {
  font-size: 2.5rem; /* Ukuran font yang responsif */
}

.container1 {
  display: flex; /* Menggunakan Flexbox untuk layout */
  flex-wrap: wrap; /* Membungkus elemen jika tidak muat dalam satu baris */
  justify-content: center; /* Mengatur agar card berada di tengah */
  margin-top: 20px; /* Jarak atas */
  max-width: screen; /* Atur lebar maksimum kontainer */
  width: 100%; /* Lebar kontainer 100% dari elemen induk */
  margin-left: auto; /* Memusatkan kontainer */
  margin-right: auto; /* Memusatkan kontainer */
}

.row {
  display: grid; /* Menggunakan Grid untuk layout */
  gap: 20px; /* Jarak antar kolom */
  position: relative;
  left: 4vw;
  justify-content: center; /* Memusatkan kolom secara horizontal */
  max-width: 1050px; /* Atur lebar maksimum baris */
  padding: 0 0; /* Menambahkan padding horizontal */
}

.col {
  margin: 20px -50px; /* Jarak antara card */
  justify-content: center;
}

.rating {
  display: flex; /* Mengatur elemen menjadi flexbox */
  align-items: center; /* Mengatur agar elemen sejajar secara vertikal */
  margin-top: -10px;
}

.rating-rectangle {
  display: flex; /* Mengatur elemen di dalam rectangle menjadi flexbox */
  align-items: center; /* Menyelaraskan ikon dan teks secara vertikal */
  width: 40px; /* Lebar rectangle */
  height: 15px; /* Tinggi rectangle */
  background-color: var(--putih); /* Warna rectangle (kuning) */
  border: 2px solid black; 
  border-radius: 20px; /* Membuat sudut rectangle menjadi melengkung */
  padding: 5px; /* Memberikan padding di dalam rectangle */ 
  margin-left: -10px;

}

.rating-icon {
  color: var(--hitam); 
  margin-right: 2px; 
  font-size: 8px;
  position: relative;
  bottom: 0.5px;
  left: -1px;
}

.rating-text {
  font-size: 8px; /* Ukuran font untuk rating */
  color: var(--hitam); /* Warna teks */
}

.Penjelasan {
  margin-top: 10px;
  margin-left: 12px;
}

.merk {
  font-size: 20px;
}

.text {
  font-size: 14px; /* Ukuran font untuk penjelasan */
  color: var(--hitam); /* Warna teks */
  display: flex; /* Mengatur elemen menjadi flexbox */
  align-items: center; /* Menyelaraskan ikon hati dan teks secara vertikal */
}

.heart-icon {
  color: var(--hitamkurang); /* Warna ikon hati hitam dengan transparansi 50% */
  margin-left: 135px; /* Memberikan jarak antara teks dan ikon hati */
  font-size: 20px; /* Ukuran ikon hati */
}

.heart-icon.active {
  color: red; /* Warna saat ikon hati aktif */
}

.price {
  font-size: 12px; /* Ukuran font untuk harga */
  color: var(--hitam); /* Warna teks */
  margin-top: 2px; /* Jarak di atas harga */
}

.content {
  display: flex; /* Menggunakan flexbox untuk tata letak */
  justify-content: center; /* Memusatkan elemen secara horizontal */
  align-items: center; /* Memusatkan elemen secara vertikal */
  margin-bottom: 20px;
}

/* Mengatur gaya untuk dot slider */
.slider-dots {
  display: flex; /* Menggunakan flexbox untuk tata letak */
  margin: 0 20px; /* Jarak horizontal dari tombol */
}

.dot {
  width: 10px; /* Lebar dot */
  height: 10px; /* Tinggi dot */
  border-radius: 50%; /* Membuat dot menjadi lingkaran */
  background-color: var(--hitamkurang); /* Warna dot */
  margin: 0 5px; /* Jarak antar dot */
  cursor: pointer; /* Menunjukkan bahwa dot dapat diklik */
  transition: background-color 0.3s; /* Transisi saat hover */
}

/* Mengatur gaya untuk dot yang aktif */
.dot.active {
  background-color: var(--hitam); /* Warna untuk dot aktif */
}

/* Mengatur gaya untuk tombol slider */
.slider-buttons1 {
  display: flex; /* Menggunakan flexbox untuk tata letak */
  align-items: center; /* Memusatkan tombol secara vertikal */
}

.slider-buttons2 {
  display: flex; /* Menggunakan flexbox untuk tata letak */
  align-items: center; /* Memusatkan tombol secara vertikal */
  margin-left: 515px;
}

.buttonpag {
  display: flex; /* Menggunakan flexbox untuk memusatkan ikon */
  align-items: center; /* Memusatkan ikon secara vertikal */
  justify-content: center; /* Memusatkan ikon secara horizontal */
  width: 40px; /* Lebar tombol */
  height: 40px; /* Tinggi tombol */
  border: 2px solid var(--hitam); /* Border tombol */
  border-radius: 50%; /* Membuat tombol menjadi lingkaran */
  background-color: white; /* Warna latar belakang tombol */
  color: var(--hitam); /* Warna ikon */
  cursor: pointer; /* Menunjukkan bahwa tombol dapat diklik */
  transition: background-color 0.3s, color 0.3s; /* Transisi saat hover */
}

/* Mengatur gaya saat tombol di-hover */
.button:hover {
  background-color: #B197FC; /* Warna latar belakang saat hover */
  color: white; /* Warna ikon saat hover */
}

/* Mengatur gaya untuk ikon */
.icon {
  font-size: 16px; /* Ukuran ikon */
}

.icon-space {
  width: 15px; /* Lebar ruang antara ikon, sesuaikan sesuai kebutuhan */
  display: inline-block; /* Membuat ruang terlihat */
} 