.navbar-nav.me-1 {
  margin-left: 50px;
}

.navbar-nav.me-1 .nav-item {
  margin: 0 10px;
}

.navbar-nav.me-1 .nav-link {
  color: var(--hitam); 
}

.form-control[type="text"] {
  background-color: rgba(255, 255, 255, 0.2); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  color: var(--hitam); 
  padding: 0.375rem 0.75rem; 
  transition: all 0.3s ease; 
}

.form-control[type="text"]::placeholder {
  color: var(--hitam); 
}

.form-control[type="text"]:focus {
  background-color: var(--hitamkurang); 
  border-color: var(--hitamkurang); 
  box-shadow: 0 0 0 0 var(--hitamkurang); 
  color: var(--hitam); 
}

.navbar {
  transition: all 0.3s ease;
  padding: 1rem 2 rem; 
}

.navbar-scrolled {
  background-color: white !important;
  box-shadow: 0 2px 10px var(--putih);
  padding: 0.5rem 2rem; 
}


.navbar-brand {
  height: 40px; 
  transition: all 0.3s ease;
}

.navbar-scrolled .navbar-brand {
  height: 40px; 
  content: url('/img/Logo\ BENTALA.png'); 
}


.navbar-nav .nav-link {
  transition: all 0.3s ease;
  padding: 0.5rem 1rem; 
}

.navbar-scrolled .navbar-nav .nav-link {
  color: var(--hitam) !important;
  padding: 0.3rem 1rem; 
}

.navbar .btn {
  transition: all 0.3s ease;
  padding: 0.5rem 1rem; 
}

.navbar-scrolled .btn {
  padding: 0.3rem 1rem; 
}

.navbar-scrolled .btn i {
  color: var(--hitam) !important;
}

.navbar .form-control[type="text"] {
  transition: all 0.3s ease;
}

.navbar-scrolled .form-control[type="text"] {
  background-color: var(--hitam);
  border: 1px solid var(--hitam);
  color: var(--hitam);
}

.navbar-scrolled .form-control[type="text"]::placeholder {
  color: var(--hitam);
}

.navbar-scrolled .form-control[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
  color: var(--hitam);
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

