
.form-control[type="text"] {
  background-color: rgba(255, 255, 255, 0.2); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  color: #fff; 
  padding: 0.375rem 0.75rem; 
  transition: all 0.3s ease; 
}

.form-control[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7); 
}

.form-control[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.3); 
  border-color: rgba(255, 255, 255, 0.5); 
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25); 
  color: #fff; 
}

.navbar-scrolled .navbar-nav .nav-link {
  color: black !important;
  padding: 0.3rem 1rem; 
}

.navbar .btn {
  transition: all 0.3s ease;
  padding: 0.5rem 1rem; 
}

.navbar-scrolled .btn {
  padding: 0.3rem 1rem; 
}

.navbar-scrolled .btn i {
  color: black !important;
}

.navbar .form-control[type="text"] {
  transition: all 0.3s ease;
}

.navbar-scrolled .form-control[type="text"] {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
}

.navbar-scrolled .form-control[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-scrolled .form-control[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
  color: black;
}

.footer-4 {
  background-color: var(--hitam); 
  color: var(--putih); 
  padding: 40px 20px; 
  overflow-x: hidden;
}

.content {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center; 
}

.logo {
  flex: 1; 
  display: flex; 
  justify-content: center; 
}

.company-logo-icon {
  max-width: 150px; 
  height: auto; 
}

.links {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  margin-left: 50px;
}

.koleksi {
  margin: 0 10px; 
  cursor: pointer; 
  transition: color 0.3s; 
  border-radius: 5px; 
}

.koleksi:hover {
  color: #cccccc; 
}

.social-links {
  flex: 0.85; 
  margin-right: 90px;
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
}

.social-links i {
  margin-left: 25px; 
  cursor: pointer; 
  transition: color 0.3s; 
  width: 10px;
  height: 10px;
}

.social-links i:hover {
  color: #cccccc; 
}

.credits {
  margin-top: 20px; 
  text-align: center; 
}

.divider {
  height: 1px; 
  background-color: var(--putih); 
  margin: 10px auto; 
  width: 90%;
}

.row1 {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 30px; 
  margin-left: 50px;
}

.privacy-policy {
  margin: 0 15px; 
  cursor: pointer; 
  transition: color 0.3s; 
}

.privacy-policy:hover {
  color: #cccccc; 
}


.relume-all-rights {
  margin-right: 20px; 
}

@media (max-width: 768px) {
  .content {
      flex-direction: column; 
      align-items: center; 
  }

  .links {
      align-items: center; 
  }

  .social-links {
      justify-content: center; 
      margin-top: 10px; 
  }

  .credits {
      flex-direction: column; 
  }

} 